/* ----------------Colors ----------------------*/
$color-bg-primary: #262a32;
$color-bg-secondary: #45413e;
$color-bg-page-404: #f1edea;
$color-text-primary: #ffffff;
$color-text-secondary: #7b7875;
$color-text-green:#84bc22;
/* ----------------Fonts ----------------------*/
$font-primary: "Lato", sans-serif;
$font-secondary: "PT Sans", sans-serif;

/* ----------------RESET CSS ----------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 71.42857%;
}

h1 {
  font-size: 24px;
  font-family: $font-primary;
}

/* ----------------GENERAL STYLES----------------------*/
body {
  font-family: $font-primary;
  width: 100%;
}

/* ----------------COMPONENTS----------------------*/

/* ------------------------------------------NAVBAR-----------------------------*/
.navbar {
  padding-left: 0;
  padding-right: 0;
  .navbar-brand {
    height: 54px;
  }
}

.abs-center-x {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-collapse {
  background-color: $color-bg-primary;
  width: 100%;
  .navbar-nav .nav-item a {
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-text-primary;
    margin: 10px 0;
  }
}
.navbar-nav .dropdown-menu {
  background-color: $color-bg-primary;
}
.feature-image {
  text-align: center;
}
.logo-text {
  h1 {
    width: 73px;
    height: 25px;
    color: $color-bg-primary;
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6.33px;
  }
  h2 {
    width: 74px;
    height: 17px;
    color: #84bc22;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
  }
}

/* ------------------------------------------/*NAVBAR-----------------------------*/

/* ----Slider Section----*/
.slider-section {
  position: relative;
  width: 80%;
  margin: 22px auto;
}

.carousel-item {
  position: relative;
  // img {
  //   height: 450px;
  // }
}
.text-image {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  h1 {
    font-family: $font-secondary;
    font-size: 28px;
    padding-top: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  p {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 400;
    margin-top: 35px;
    margin-left: 40px;
  }
  button {
    border: 2px solid #ffffff;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 60px;
  }
}
/* ----Product Section-------------*/
.carousel-inner {
  margin-right: 0;
  margin-left: 0;
}

.products-section {
  width: 100%;
  background-color: $color-bg-primary;
  height: 580px;
  .wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  hr {
    background-color: white;
    width: 21%;
    position: absolute;
    top: 23px;
    right: 5px;
    height: 1px;
  }
  .carousel-indicators {
    bottom: -40px;
  }
  h1 {
    font-size: 25px;
    font-family: $font-primary;
    color: $color-text-primary;
    font-weight: 700;
    text-align: center;
    padding: 25px;
  }
  h1::after {
    content: "";
    display: block;
    border: 1px solid white;
    width: 20%;
    position: absolute;
    top: 38px;
    left: 10px;
  }

  img {
    height: auto;
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .heart {
    z-index:2;
    // margin-left:21px;
    background-color: #ffffff;
    border-radius:50%;
    font-size:20px;
    .fa-heart{
      font-size: 40px;
      padding: 20px;
      color:#e73c68;
    }
  }
  .plus {
    z-index:2;
    background-color: #ffffff;
    border-radius:50%;
    .fa-plus {
      font-size: 40px;
      padding:20px;
      color:#23c46e;
      
    }
  }
}
.overlay-special {
  position: absolute;
  top: 37px;
  bottom:37px;
  left: 12px;
  right: 12px;
  transition: .5s ease;
  background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    padding-left: 31px;
    padding-right: 109px;
    padding-top:180px;
    

  }
  img {
    position: absolute;
    bottom:15%;
    left:10%;
  }
  span {
    text-transform: uppercase;
    color: $color-text-primary;
    position: absolute;
    bottom:15%;
    left:20%;
  }
  }

.shopping-cart-number {
  position: absolute;
  font-size: 12px;
  background-color:white ;
  border: 1px solid #84bc22;
  border-radius: 50%;
  color:#84bc22;
  padding:3px;
  right:0;
  z-index: 10;
  margin-top:8px;
  margin-right: 5px;
}
.heart-cart-number {
  position: absolute;
  font-size: 12px;
  background-color:white ;
  border: 1px solid #84bc22;
  border-radius: 50%;
  color:#84bc22;
  padding:3px;
  right:0;
  z-index: 10;
  margin-top:8px;
  margin-right: 5px;
}
.card:hover .overlay {
  opacity: 0.9;
}
.card-special {
  position:relative;
}
.card-special:hover .overlay-special {
  opacity: 0.8;
}
// .card-body:hover  .overlay{
//   display:none;
// }
.card {
  padding: 20px;
  p {
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 400;
    color: $color-bg-primary;
    text-align: center;
    text-transform: capitalize;
  }
  span {
    text-align: center;
    margin-top: 15px;
  }
}
/* -------------------Banner Section-------------*/
.banner-section {
  height: auto;
  position: relative;
  img {
    width: 100%;
  }
  h1 {
    color: $color-text-primary;
    position: absolute;
    top: 13%;
    left: 10%;
    width: 90%;
    margin: auto 0;
    z-index: 1;
    font-size: 35px;
    font-family: $font-primary;
    font-weight: 700;
  }
  p {
    position: absolute;
    color: $color-text-primary;
    z-index: 1;
    top: 50%;
    text-align: center;
    font-family: $font-primary;
    font-size: 16px;
  }
}
/* -------------------Feature Products  Section---------------*/
.feature-products {
  width: 100%;
  height: auto;
  background-color: $color-bg-primary;
  .feature-products-title{
    text-align: center;
    h1 {
      font-size: 36px;
      font-weight:700;
      padding-top: 44px;
      color:$color-text-primary;
    }
    p {
      font-size:18px;
      font-weight:400px;
      color:$color-text-primary;
      line-height: 36px;
      padding-top: 10px;
    }
  }
}
.feature-products-controls {
  text-align: center;
  margin-bottom:37px;
  span {
    font-size: 50px;
  }
  a .fa-chevron-left {
    margin-right: 241px;
    
  }
  a .fa-chevron-right {
    margin-left: 241px;
   
  }
}
.feature-products-image{
  width: 100% !important;
}
.feature-carousel-item {
  margin-bottom: 64px;
  .col-md-3 {
    padding:0px 40px;
  }
  .card {
    padding:0;
  }
}
.card-min-height {
  min-height:120px;
}

/* -------------------Bennefits Section-------------------------*/
.benefits-content-section {
  background-color: $color-bg-secondary;
  width: 100%;
  min-height: 600px;
  .focus {
    display: flex;
  }
  img {
    margin-top: 40px;
    margin-left: 10px;
    padding: 22px 30px 22px 22px;
  }
  .text-content {
    margin-top: 46px;
  }
  h1 {
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font-primary;
    color: $color-text-primary;
    font-weight: 700;
  }
  p {
    padding: 5px 20px 0 0;
    font-size: 18px;
    font-family: $font-primary;
    color: #736f6c;
  }
}
.method {
  display: flex;
  flex-direction: row-reverse;
  .text-content {
    padding-left: 20px;
  }
  img {
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 0;
    margin-left: 0;
  }
}
.knowledge {
  display: flex;
  img {
    padding-right: 50px;
  }
}
/* -------------------FOOTER-------------------------*/
.footer-content {
  background-color: #ffffff;
  color: #686562;
  min-height: 300px;
  width: 90%;
  margin: 20px auto;
  .footer-content-year {
    font-size: 18px;
    font-family: $font-primary;
  }
  .footer-content-contact,
  .footer-content-categories,
  .footer-content-about {
    button {
      text-transform: uppercase;
      font-size: 18px;
      font-family: $font-primary;
      font-weight: 700;
      border: none;
      width: 100%;
      text-align: left;
      color: #333333;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      margin: 5px 0 3px 0;
      
    }
    .dropdown-toggle::after{
      display:none !important;
    }
    .dropdown-menu {
      background-color: #ffffff;
    }
    a {
      background-color: #ffffff;
      color: #686562 !important;
      margin: 10px 0;
      border: none;
      font-size: 18px;
    }
  }
  .footer-content-social-links {
    text-align: center;
    margin-top: 20px;
    a {
      margin: 15px;
    }
    i {
      color: #b2b2b2;
      font-size: 25px;
    }
  }
}
.footer-bottom {
  background-color: $color-bg-primary;
  min-height: 70px;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
i {
  font-size: 27px;
  color: #b2b2b2;
  margin: 15px;
}

/* ====================================================
  Modal
  ======================================================= */

.modal-content {
  border-radius: 7px !important;
  background-color: #ffffff;
  max-height:467px;
  .modal-body {
    padding-bottom: 0;
  }
  .modal-header {
    color: #45413e;
    font-family: $font-primary;
    font-size: 30px;
    font-weight: 700;
    border-bottom: none;
  }
}
.md-form input {
  border: 1px solid #ced4da !important;
  border-radius: 18px !important;
}
.modal-footer {
  border-top: none;
  button {
    width: 181px;
    border: 2px solid #84bc22;
    background-color: #84bc22 !important;
    border-radius: 30px;
  }
}
.modal-dialog {
  margin: 20vh auto 0px auto;
}
.no-account {
  text-align:center;
  margin-bottom:100px;
  a {
    color:#84bc22 !important;
    
  }
}
.eye-icon{
position:absolute;
right:0;
top:0;
}
/* ====================================================
  Cookies Banner
  ======================================================= */
  .cookie-container {
    width: 1170px;
    height: 148px;
    position:fixed;
    bottom:-100%;
    left:0;
    right:0;
    background-color:#ffffff;
    padding:0 32px;
    transition:400ms;
    z-index:999;
    margin:0 auto;
    border-radius: 7px;
    p{
      color: #45413e;
      font-family:$font-primary;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      width: 828px;
      height: 60px;
    }
    h2 {
      color: #84bc22;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin-top:28px;
    }
    a {
      color: #84bc22 ;
    }
    .cookie-btn {
      background-color: #84bc22 ;
      color:#ffffff;
      border:none;
      border-radius: 20px;
      text-transform:uppercase;
      padding:8px 35px;
      font-size:14px;
      float:right;
      margin-bottom:17px;
      cursor:pointer;
      
    }
  }
  .cookie-container.active {
    bottom:20%;
  }
/* ====================================================
  404 PAGE
  ======================================================= */

.404-page {
  background-color: #f1edea;
}
.container-404 {
  width: 90%;
  margin: 0 auto;
}
.header-404 {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  :first-child {
    color: #84bc22;
    font-family: $font-primary;
  }
  :nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
  }
  :last-child {
    color: #45413e;
    font-family: $font-primary;
    font-size: 48px;
    font-weight: 700;
    margin-top: 23px;
  }
}
.body-404 {
  width: 100%;
  height: 492px;
  padding: 50px;
  background-color: #ffffff;
  img {
    position: absolute;
  }
}
.text-error {
  text-align: right;
  width: 62%;
  float: right;
  text-align: left;
  p {
    margin: 30px 0;
  }

  :first-child {
    font-size: 32px;
    font-weight: 800;
    color: #000;
  }
}
.search-bottom form input {
  font-size: 20px !important;
  position: relative;
}
.search-404 {
  position: absolute;
  left: 90%;
}
.oops-text {
  color: #84bc22;
  position: relative;
  top: 20%;
  left: 10%;
}
.page-404 {
  background-color: #f1edea;
  padding-bottom: 80px;
}
/* ====================================================
              CATEGORY LANDING PAGE
  ======================================================= */
  .category-container {
    background-color: #f2edea;
    padding-bottom: 15px;
    
    .title-link{
      text-align: center;
      padding-top:24px;
      p a{
        color:$color-text-green;
        
      }
    }
    .title-category {
      text-align: center;
      color: #45413e;
      font-family:$font-primary;
      font-size: 31px;
      font-weight: 800;
      margin-top: 35px;
      height:auto;
      h1{
        position:relative;
      }
      h1:before {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: #ffffff;
        left: 10%;
        top: 50%;
        position: absolute;
        opacity:0.5;
      }
      h1:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: #ffffff;
        right: 10%;
        top: 50%;
        position: absolute;
        opacity:0.5;
      }
      p {
        color: $color-text-green;
        font-family:$font-primary;
        font-size: 13px;
        font-weight: 400;
        margin-top:41px;
      }
    }
    .filters {
        background-color: #ffffff;
        width: 291px;
        height: 376px;
        width:90%;
        margin:23px auto;
        .align-center {
          width:80%;
          margin:0 auto;
          padding-top: 14px;
          padding-bottom: 17px;
          display:flex;
          justify-content:space-between ;
        }
        
    }
    label {
      color: #45413e;
      font-family:$font-primary;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
    }
    select {
      width:198px;
      height: 32px;
      border: 2px solid #45413e;
      opacity: 0.5;
      border-radius: 25px;
    } 
    .results {
      text-align: center;
      padding-bottom: 22px;
      p {
        color: #45413e;
        font-family: $font-primary;
        font-size: 14px;
      }
      span {
        font-size:16px;
      }
    }
    .product-cards-section {
      width:90%;
      margin:22px auto;
      display: flex;
      flex-direction: column;
      gap: 29px;
      
      .card {
        padding:0 ;
      }
      .card .card-body span {
        display:block;
      }
    }
    .color {
      .circle {
        width:14px;
        height:14px;
        border-radius:50%;
      }
      .white {
        border: 3px solid #45413e;
        background-color: #ffffff;
        
      }
      .blue {
        background-color: #43c0cf;
      }
      .violete {
        background-color: #315bbd;
      }
      .gray {
        background-color: #efead7;
      }

    }
  }

/* ====================================================
  MEDIA QUERIES
  ======================================================= */

@media (min-width: 1281px) {
   /* ------------CAROUSEL------------------*/
   #carousel-example-2z {
     display: none;
   }
   .products-desktop .row .card {
     padding:0 0 20px 0;
     margin:40px auto;
     .card-body {
       text-align: center;
     }
   }
   .products-section {
     min-height:1400px;
     h1 {
       font-size:32px;
     }
   }
   .btn-load-more {
     display:block;
     margin:0 auto;
     width: 380px;
     border:1px solid white;
     border-radius:30px;
     color:$color-text-primary;
     font-size:18px !important;
     font-weight: 700;
     font-family: $font-primary;
     &:hover {
       background-color:white;
     }
   }
  /* ------------NAVBAR------------------*/
  .abs-center-x {
    position: static;
    transform: none;
  }
  .feature-image {
    display: none;
  }
  .navbar {
    box-shadow: none;
  }
  .navbar-collapse {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  .navbar-nav {
    margin-left: 200px;
  }
  .nav-item a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $font-primary;
  }
  .nav-item {
    padding: 0 10px;
  }
  #language {
    color: #45413e;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
  }
  #currency {
    color: #45413e;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
  }
  .footer-bottom {
    display: none;
  }
  .nav-extra a {
    position:relative;
  }
  .nav-extra a i {
    font-size: 20px;
    color: #45413e;
    opacity: 0.5;
  }
  .center-nav {
    width: 80%;
    margin: 0 auto;
  }
  /* ------------ /NAVBAR------------------*/

  /* ------------CAROUSEL------------------*/

  .carousel {
    margin-right: 20px;
    width:100%;
  }
  .green-card {
    width: 270px;
    height: 335px;
    background-color: #84bc22;
    position: relative;
    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .discount-percent {
      color: $color-text-primary;
      font-family: $font-primary;
      font-size: 100px;
      font-weight: 700;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 15%;
    }
  }
  .summer-sales {
    height:505px;
  }
  .summer-sales-text {
    color: #ffffff;
    font-family: $font-primary;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50%;
    text-align: center;
  }
  .summer-sales .follow-f {
    color: #45413e;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    line-height:18px;
  }
  .summer-sales button {
    border-radius: 15px;
    margin-top: 20px;
  }
  .summer-text {
    text-align: center;
    margin-top:20px;
    p {
      padding-top: 20px;
    }
    
  }
 
  .text-image {
    min-height: 400px;
    padding-right: 280px;
    h1 {
      font-family: $font-secondary;
      font-size: 48px;
      font-weight: 700;
      text-align: left;
      padding-right: 251px;
      padding-left: 60px;
      padding-top: 79px;
      line-height: 50px;
    }
  }
  /* ------------/*CAROUSEL------------------*/

  /* ------------Benefits Section------------------*/
  .benefits-content-section {
    display: flex;
    min-height: 198px;
  }
  .method {
    flex-direction: row;
  }
  /* ------------Banner------------------*/
  .banner-section img {
    height: 445px;
  }
  .banner-section h1 {
    font-size: 52px;
    top: 30%;
    text-align: center;
  }
  .banner-section p {
    top: 50%;
    left: 500px;
  }
  /* ----------------Footer-----------------------*/
  .footer-content {
    height: 227px;
    .footer-content-social-links {
      margin-top: 0;
      a {
        margin: 0;
      }
    }
    .footer-content-about {
      width: 100px;
      margin-left: 200px;
      margin-right: 0;
    }
  }
  .footer-content-contact,
  .footer-content-categories,
  .footer-content-about,
  .no-expand-menu {
    position: static;
    display: inline;
    border: none;
    .dropdown-item {
      padding: 10px 0;
    }
  }
  .footer-content-categories .no-expand-menu {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
   /* ------------------------------------FEATURE PRODUCTS------------------*/
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display:flex;
}
/* ====================================================
              CATEGORY LANDING PAGE
  ======================================================= */
  .title-category h1 {
    font-size: 48px;
  }
  .category-container .filters {
    width:1169px;
    height: 165px;
    display: grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50% ;
    margin-top: 20px;
    .align-center{
      padding-top:24px;
      justify-content: space-around;
    }

  }  
  .category-container .title-category h1:before {
    width:500px;
  }
  .category-container .title-category h1:after {
    width:500px;
  }
  .product-cards-section {
    flex-direction: row!important;
    flex-wrap:wrap;
    width:1169px !important;
    .card .card-img-top {
      width: 270px;
      height: 260px;
    }
    .card-body{
      width: 270px;
      height: 105px;
    }
  } 
  #special-button-1 {
    border-radius: 50px 0 0 50px;
    border: 2px solid #7f7f7f;;
    margin-right: 0;
    color: $color-text-green;
    // border-right: none;
    box-shadow:none;
    font-size: 16px;
    padding: 7px;
  }
  #special-button-2 {
    border-radius: 0 50px 50px 0;
    border: 2px solid #7f7f7f;
    box-shadow: none;
    font-size:16px;
    padding: 7px;
    
    
  }
  #load-more-btn {
    padding:15px 40px;
    border: 2px solid #d9d9d9;
    background-color: $color-text-green;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 60px;
    margin: 120px auto 77px auto ;
  }
  .more-cards{
    width:1169px;

  }
    
}

@media (max-width: 768px) {
  /* ------------NAVBAR------------------*/
  #popular-items-desktop {
    display: none;
  }
  .logo-text {
    visibility: hidden;
  }
  .nav-item a {
    color: white !important;
  }
  .select {
    display: none;
  }
  .nav-extra {
    display: none;
  }
  /* ------------ /NAVBAR------------------*/
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
  .summer-sales {
    display: none;
  }
  /* ------------ Modal------------------*/
  .modal-dialog {
    width: 320px;
  }
  /* ------------ 404 Page ------------------*/
  .page-404 {
    background-color: #f1edea;
  }
  .body-404 {
    width: 100%;
    margin: 0 auto;
    background-color: #ffff;
    padding: 0;
    img {
      display: none;
    }
  }
  .oops-text {
    position: static;
    font-size: 70px;
    margin-left:70px;
  }
  .text-error {
    float:none;
    margin:20px auto;
    width:90%;
    p:nth-of-type(1) {
      display:none;
  }
  }
  .search-404 {
    display:none;
  }
  .products-desktop {
    display:none;
  }
   .btn-load-more {
     display:none;
   }
   .feature-products {
     display:none;
   }
   .carousel-item-mobile {
     position:relative;
    img {
      height: 450px;
      width:100%;
    }
  }
  .cookie-container {
    display:none;
  }

}

@media (min-device-width:769px) and (max-device-width:1280px){

}
  